body, html {
    width: 100%;
    height: 100%;
    font-family: 'Teko', sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), 
    url(gym.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  font-size: 5rem;
  background: -webkit-linear-gradient(#ff9800, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
	border-color: white;
	border-width: 3px;
	max-width: 60px;
}

.btn {
	font-weight: 700px;
	border-radius: 250px;
}

.btn-success {
	background-color: #4caf50;
	border-color: #4caf50;
}

.btn-success:hover {
	background-color: #009688;
	border-color: #009688;
	border-width: 2px;
}

.btn-xl {
	padding: 1rem 2rem;
}